<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>ACP Controle Times</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>

  <!-- <script type="text/javascript"  -->
  <!--    src="/static/js/calc.js"> -->
  <!-- </script> -->
</head>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/calc.css" />
<!--background = href="ORRandonneurs.png" -->
<body>
<!-- bootstrap requires a 'container' div around content -->
<div class="container">

<h1>ACP Brevet Closing times</h1>

  <!--
  -- If there are any warnings or other messages from a prior
  -- request to the server, 
  -- they appear above the rest of the content, just until the next 
  -- action.  (This is only on request/response transactions that
  -- result in regenerating the page, not on every xmlhttp request.) 
  -->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<!-- Design on bootstrap grid -->
<form role="form">
<div class="row">
  <p> Indicate Brevet Distance and starting date/time</p>
  <p>Brevet Distance (KM)</p><div class = "col-md-3">
        <select class="control-label col-md-5" name="brevet_miles">
          <option>200</option>
          <option>300</option>
          <option>400</option>
          <option>600</option>
          <option>1000</option>
      </select>
    </div>

  <div class="col-md-3">
    <input type="text" class="form-control"
      name="startdate" placeholder="Starting Date (MM/DD/YYYY)" />
  </div>

  <div class="col-md-3">
    <input type="text" class="form-control"
      name="startime" placeholder="Start Time (24 Hour Format, HH:MM)" />
  </div>

</div>
<hr>
  <p>Input Units:</p><div class="col-md-3">
        <select class="control-label col-md-4" name="distunits">
             <option>miles</option>
             <option>kilometers</option>
          </select>
  </div>
<hr>

<!-- <td align=left>Output units:</td>
  <td align=left>
    <input type=radio name="output" value="mi" checked>miles</td>
  <td align=left>
    <input type=radio name="output" value="km">km</td>
  <td align=left>
    <input type=radio name="output" value="both">both</td>
<hr> -->

<div class="row">
  <div class="col-md-3">
    <td align=left>Checkpoint 1</td>
    <input type="text" class="form-control"
      name="distance" placeholder="distance" />

    <input type="text" class="form-control"
      name="location" placeholder="location" />
    <span class="opening_time form-control">opening_time)</span>
    <span class="closing_time form-control">closing_time)</span>
  </div>
  </div>

  <div class="row">
  <div class="col-md-3">
    <td align=left>Checkpoint 2</td>
    <input type="text" class="form-control"
      name="distance" placeholder="distance" />

    <input type="text" class="form-control"
      name="location" placeholder="location" />
    <span class="opening_time form-control">opening_time)</span>
    <span class="closing_time form-control">closing_time)</span>
  </div>
  </div>

  <div class="row">
  <div class="col-md-3">
    <td align=left>Checkpoint 3</td>
    <input type="text" class="form-control"
      name="distance" placeholder="distance" />

    <input type="text" class="form-control"
      name="location" placeholder="location" />
    <span class="opening_time form-control">opening_time)</span>
    <span class="closing_time form-control">closing_time)</span>
  </div>
  </div>

  <div class="row">
  <div class="col-md-3">
    <td align=left>Checkpoint 4</td>
    <input type="text" class="form-control"
      name="distance" placeholder="distance" />

    <input type="text" class="form-control"
      name="location" placeholder="location" />
    <span class="opening_time form-control">opening_time)</span>
    <span class="closing_time form-control">closing_time)</span>
  </div>
  </div>

  <div class="row">
  <div class="col-md-3">
    <td align=left>Checkpoint 5</td>
    <input type="text" class="form-control"
      name="distance" placeholder="distance" />

    <input type="text" class="form-control"
      name="location" placeholder="location" />
    <span class="opening_time form-control">opening_time)</span>
    <span class="closing_time form-control">closing_time)</span>
  </div>
  </div>

  <div class="row">
  <div class="col-md-3">
    <td align=left>Checkpoint 6</td>
    <input type="text" class="form-control"
      name="distance" placeholder="distance" />

    <input type="text" class="form-control"
      name="location" placeholder="location" />
    <span class="opening_time form-control">opening_time)</span>
    <span class="closing_time form-control">closing_time)</span>
  </div>
  </div>

  <div class="row">
  <div class="col-md-3">
    <td align=left>Checkpoint 7</td>
    <input type="text" class="form-control"
      name="distance" placeholder="distance" />

    <input type="text" class="form-control"
      name="location" placeholder="location" />
    <span class="opening_time form-control">opening_time)</span>
    <span class="closing_time form-control">closing_time)</span>
  </div>
  </div>

  <div class="row">
  <div class="col-md-3">
    <td align=left>Checkpoint 8</td>
    <input type="text" class="form-control"
      name="distance" placeholder="distance" />

    <input type="text" class="form-control"
      name="location" placeholder="location" />
    <span class="opening_time form-control">opening_time)</span>
    <span class="closing_time form-control">closing_time)</span>
  </div>
  </div>

  <div class="row">
  <div class="col-md-3">
    <td align=left>Checkpoint 9</td>
    <input type="text" class="form-control"
      name="distance" placeholder="distance" />

    <input type="text" class="form-control"
      name="location" placeholder="location" />
    <span class="opening_time form-control">opening_time)</span>
    <span class="closing_time form-control">closing_time)</span>
  </div>
  </div>

  <div class="row">
  <div class="col-md-3">
    <td align=left>Checkpoint 10</td>
    <input type="text" class="form-control"
      name="distance" placeholder="distance" />

    <input type="text" class="form-control"
      name="location" placeholder="location" />
    <span class="opening_time form-control">opening_time)</span>
    <span class="closing_time form-control">closing_time)</span>
  </div>
  </div>

</form>

<script type="text/javascript">

  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

  $(document).ready(function(){
   // Do the following when the page is finished loading

      // When a field named 'miles' is changed ...
      $('input[name="miles"]').change(
          // ... execute this function
          function(){
              var e_miles = $(this).val();
              var brevet_miles = document.getElementsByName("brevet_miles").value;
              var startdate   = document.getElementsByName("startdate").value;
              var starttime   = document.getElementsByName("starttime").value;
              var distunits  = document.getElementsByName("distunits").value
              var opening_time  = $(this).parents(".col-md-3").find(".opening_time");
              var closing_time  = $(this).parents(".col-md-3").find(".closing_time"); //You don't have to go home but you can't stay here.

              // DEBUG: How do I replace the 'times' field?
              // alert("Content of the field I want to change: " +
              //   target.html());

              // AJAX request
              $.getJSON($SCRIPT_ROOT + '/_calc_times',
                  // The object to pass to the server
                  { miles: e_miles, brevet_miles:brevet_miles, startdate: startdate, starttime: starttime, distunits:distunits},
                  // The function to call with the response
                  function(data) {
                     var times = data.result;
                     // alert("Got a response: " +  times);
                     opening_time.text(times.opening_time);
                     closing_time.text(times.closing_time);
                  }); // End of the call to getJSON
          });  // End of the function to be called when field changes
              

     });   // end of what we do on document ready

</script>

</div>
</body> </html>
